<a href="https://github.com/login/oauth/authorize?client_id=aafec2fcdbe2b9fc9131&redirect_url=https://gitlove-node-edition.herokuapp.com/callback/github&scope='user repo'&allow_signup=true">Login with GitHub</a>
